[2019-01-20 01:00] chrissainty opened #1 "Ability to customise toasts"
Version one has a fixed timeout of 5 seconds for a toast. Also, the location of the toast is fixed to the top right corner of the screen. It would be much nicer for users to be able to configure these type of settings.

[2019-02-14 08:18] uwefms opened #5 "not working correctly in Razor components"
I cannot run Toaster in server-side blazor.

This is the csproj file of the client.app:
`<Project Sdk="Microsoft.NET.Sdk.Razor">
  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <LangVersion>7.3</LangVersion>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Components.Browser" Version="3.0.0-preview-19075-0444" />
    <PackageReference

[2019-02-14 19:19] chrissainty commented on #5
Hi @uwefms, I think this is actually a known limitation in the first preview of Razor Components. Static assets are not being included from component libraries. I think you're not getting the CSS loaded from Blazored Toast by the looks of it.

You can read more [here](https://blogs.msdn.microsoft.com/webdev/2019/01/29/aspnet-core-3-preview-2/#sharing-component-libraries).

[2019-02-14 20:15] uwefms commented on #5
Thought so - so waiting for the next preview ...

[2019-02-14 20:15] #5 closed

[2019-03-30 23:30] #1 closed

[2019-04-02 18:55] larshg opened #8 "A minor spelling error in code."
https://github.com/Blazored/Toast/blob/744a08121204b7e44d04008b4fa33e8409b49ba9/src/Blazored.Toast/Configuration/ToastOptions.cs#L3

Tried to copy paste the guide - and it gave error due to the spelling error :)

[2019-04-03 13:38] chrissainty commented on #8
Thanks for reporting this @larshg!

No fixed and a new build should be on NuGet in the next 30 minutes.

[2019-04-03 13:38] #8 closed

[2019-04-17 15:18] mihaimyh opened #10 "Display Toast Time"
Is  `options.Timeout` supposed to control how many seconds a toast should be displayed in the browser before it is going away?

If so, I put  options.Timeout = 20 but the toast is still dissapearing to fast?

Can we control the time a toast is displayed?

[2019-04-17 16:26] chrissainty commented on #10
Thanks for reporting this. That option should control the time the toast is displayed.

Could you let me know if you are using client-side Blazor or server-side Blazor?

[2019-04-17 17:52] mihaimyh commented on #10
I am using Blazor with Client, Server and Shared Library.

The Toast is implemented on the client project.

[2019-04-19 23:36] chrissainty commented on #10
@mihaimyh - I've just been testing this out but I can't seem to replicate the problem. I'm in the process of upgrading the package to .NET Core 3 preview 4. I would suggest you give it ago after the upgrade and see if you're still seeing the issue.

[2019-04-25 14:25] #10 closed

[2019-05-16 00:48] iAmBipinPaul opened #12 "Toast message does not show,When calling from a service."
Service class
[code]
Startup
[code]
Index.razor
[code]

[2019-05-16 01:37] iAmBipinPaul opened #13 "Toast message position issue."
If my page  has a lots of information  and and I'm at  bottom of  page (after scrolling ), When clicking on show message from bottom of the page , it does show message but it show that message like I'm on top of page.

[2019-05-16 08:10] chrissainty commented on #12
Hi @iAmBipinPaul,

I can't replicate this. There is an issue with the code you've provided though. You are injecting the `ToastService` into `ServiceA` but `ToastService` is scoped and `ServiceA` is singleton. You can't inject a scoped service into a singleton.

Could that be the issue?

[2019-05-16 08:33] #13 closed

[2019-05-16 08:37] iAmBipinPaul commented on #12
Thank you !
I will try to make `ServiceA` as scoped , If it will work that will be awesome.
Otherwise I will prepare sample project.

[2019-05-16 13:34] iAmBipinPaul commented on #12
Hi @chrissainty
Yes, it was not working due to  service life time.(singleton).

In the client side Blazor application which will be more efficient , singleton  or scoped ?

[2019-05-16 13:34] #12 closed

[2019-05-16 13:36] chrissainty commented on #12
I would go with scoped in client-side, but with client-side Blazor Scoped and Singleton act exactly the same. Might be worth giving this post I wrote about service lifetimes in Blazor a read for a more indepth explanation https://chrissainty.com/service-lifetimes-in-blazor/

[2019-05-18 15:26] iAmBipinPaul opened #16 "option to set toast position on fly."
I have changes related to this on my local machine , but It changes the position of all the other toast messages as well.

![6Al56r9GSA](https://user-images.githubusercontent.com/9201481/57971730-79bb4880-79b1-11e9-8426-c6389f014a28.gif)

[2019-05-19 10:15] chrissainty commented on #16
Yes, the toasts container is currently global (only one), and all toasts load into it. I think this one might require a bit more thought.

We'll have to look at creating new containers depending on the settings of a specific toast. But if two toasts have the same settings then reusing the existing container.

[2019-05-19 10:27] iAmBipinPaul commented on #16
Okay , I will try to work on this.If I will have any progress on this I will update here.
Thank you !

[2019-05-31 05:52] MadTiger2409 opened #17 "Responsive design for narrow screens (portrait mode)"
On devices with narrow screen (like smartphones in portrait mode) toast is too wide. It will be nice to see a responsive design in it.

---

Portrait mode:
![obraz](https://user-images.githubusercontent.com/24303774/58684511-cff89600-8378-11e9-9999-f3c0903fe05f.png)

---

Wide screen (desktop):
![obraz](https://user-images.githubusercontent.com/24303774/58684566-f6b6cc80-8378-11e9-86f5-20e69b33a5d

[2019-05-31 13:16] chrissainty commented on #17
Thanks for raising this issue @MadTiger2409. You can override the existing CSS to make toasts responsive if you want a quick solution.

I will see what I can do about making things responsive by default. Also happy to take a PR for this 😄

[2019-05-31 18:43] MadTiger2409 commented on #17
I will look into CSS for this toast in my free time. Maybe even create PR ;)

[2019-05-31 23:46] #17 closed

[2019-05-31 23:48] chrissainty commented on #17
@MadTiger2409 I ended up having some time this evening so I've made some updates to make the toasts work better on smaller devices.

[2019-06-01 18:09] MadTiger2409 commented on #17
@chrissainty Is this fix a part of version 1.2.0? Because made an update in my project and nothing has changed.

[2019-06-01 18:33] chrissainty commented on #17
Yes, the changes were in the 1.2.0 release. Have you cleared your cache?

On Sat, 1 Jun 2019 at 19:09, Michał B. <notifications@github.com> wrote:

[2019-06-01 18:47] MadTiger2409 commented on #17
@chrissainty My bad. I forgot about this, sorry 🤣 😄

[2019-06-01 21:38] chrissainty commented on #17
@MadTiger2409 Happens to the best of us 🤣

[2019-06-02 03:57] xJonathanLEI opened #19 "Option to configure fade in time"
Currently the fade-in time of a toast is 1.5 seconds, hard coded in the CSS file:

[code]

Is it possible to make it configurable with the use of dynamic CSS, something like [this](https://chanan.github.io/BlazorStyled)?

[2019-06-02 20:58] chrissainty commented on #19
It's certainly possible, however, I'm not sure about mixing raw styles with C#. This feels very much like the approach React has with mixing styling and JavaScript. I personally prefer to keep concerns defined. Styling is best handled by stylesheets and logic by C#.

In this case, overriding the `blazored-toast` class and changing the fade-in time is the correct way to customise this option. Is th

[2019-06-27 03:29] Garderoben opened #21 "Getting in contact"
Hey,

Not really an issue but i wanted to get in contact with you. I have used your Toast as a base and modified it to work more like a snackbar and added a new type for background jobs where the snackbar does not close until job is done and with loader animations etc. Upon close it destroys the worker info snackbar and shows Success/Error.

Is it okay with you if i upload it to my github? and of

[2019-06-28 09:38] MadTiger2409 commented on #21
@Garderoben Maybe you could make this as a second mode of this component (with ability to switch mode) and create a pull request.

[2019-06-29 17:08] chrissainty commented on #21
Hi @Garderoben, sorry for the long reply I've been away for the last few days.

Great to hear you've created something on top of Blazored.Toast! Of course it's fine to upload. As @MadTiger2409 suggests, would you be interested in exploring adding it as a mode of the toast? Or even adding to the Blazored collection?

[2019-07-04 16:35] aherrick opened #22 "Possible to include Icons with the Toast (Checkmark, X, etc)"
Is it possible to include icons similar to this project? I'm using Blazored Toast because it supports Server side :)
https://blazor-toaster.sotsera.com/

[2019-07-04 21:19] chrissainty commented on #22
This is definitely possible. Where about would you like to be able to set icons? Just to the left of the main text, like in the library you linked to?

[2019-07-04 21:20] chrissainty commented on #21
I'm going to go ahead and close this issue, but please feel free to get back to me if you want to explore adding to it the existing control or adding it as a new control.

[2019-07-04 21:20] #21 closed

[2019-07-05 12:28] aherrick commented on #22
Hi @chrissainty Yep I think that makes sense it just adds a little extra pop to the toast :)

[2019-07-05 19:58] MadTiger2409 opened #24 "Class parameter for toasts"
Currently, the only option to change the style of the toast is to edit the `blazored-toast.css` file.

I would like to see some parameters in `<BlazoredToasts />` component. I think that there can be a parameter for CSS class/classes for every type of toast, for example:

[code]
(If you don't want to override style of the specific type of toast then you just don't use parameter that is responsible

[2019-07-06 09:50] chrissainty commented on #24
I agree @MadTiger2409 there needs to be a nicer way to override the default. I'm now about to merge a PR with a few improvements including what you've requested above. Should hit NuGet in the next half hour.

[2019-07-06 09:51] chrissainty commented on #22
I'm now about to merge a PR with a few improvements including the icon option you've requested @aherrick. Should hit NuGet in the next half hour.

[2019-07-06 09:52] #22 closed

[2019-07-06 09:59] #24 closed

[2019-07-06 10:14] chrissainty commented on #19
With the latest version there is now the ability to override the various toast types default styles. This should allow you to customise the fade-in time however you see fit. So I'm going to go ahead and close this issue. If you're still unable to achieve what you want then please reopen.

[2019-07-06 10:14] #19 closed

[2019-07-19 06:52] peterblazejewicz commented on #16
This could be probably implemented by delegating positioning to toast instance by additional component settings moved from container to instances (widen up container to `100vw`, position toast using flexbox layout with auto margins, add media query breakpoints to change layout on small devices removing all custom margins). The screenshots uses modified markup and css only:

<img width="1434" alt="

[2019-07-21 13:29] chrissainty commented on #16
Looks good @peterblazejewicz. When the positioning is moved to the toast instance, what happens to the ability to click out side of a toast instance?

I played with a similar idea a while ago and found that it blocked all click events to the rest of the page as the toast container was taking up the whole view port.

[2019-07-21 16:10] peterblazejewicz commented on #16
We could rely on `pointer-events: none;` applied to container element and `pointer-events: all` applied to toasts element, somehow simplified example pen:
https://codepen.io/blazejewicz/pen/QebzoE

[2019-07-21 22:20] chrissainty commented on #16
Oooh, that’s nice @peterblazejewicz! Looks like a decent solution. A quick check with CanIUse.com and its over 97% available. Which I’m certainly happy with.

[2019-08-20 21:43] vertonghenb opened #28 "Z-Index Docs or Manipulation"
In  certain apps, the Z-Index of the Toast Container is higher than the default z-Index.
Let's document this behavior or add some docs on how to adjust it:

Todo:
1. Re-evaluate the Z-Index value in our CSS (currently 1000)
2. Add parameter to the container or document the alternative route to use style.

[2019-08-20 23:11] vertonghenb opened #29 "Better looking close button"
Currently the close button is pretty basic:
[code]
an alternative could be:
[code]
Notice the use of :
- classes
- aria labels
- tabindex
- svg
  - [Optionally] Maybe make this a parameter?

I'm willing to PR this: (notes to self):
Todo:
- Adjust the close button
- Clean-up the css

Do note that this could be a breaking change if the client uses the following css selector:
`.blazored-toast-header

[2019-08-21 06:52] chrissainty commented on #29
This is a great suggestion @vertonghenb and I'd be happy to take a PR for it.

The only thing I'm not sure on is the need to swap from a `button` to an `a` tag. We could use the `i` inside the button just the same. It would also remove the potential breaking change you mentioned. Is there a specific reason it needs to be an `a`?

[2019-08-21 06:53] chrissainty commented on #28
Is the issue here that the Toast Container is blocking click events/interactions with the rest of the screen?

[2019-08-21 09:00] vertonghenb commented on #29
No reason for it to be a <button> I'll file the pr later today.

[2019-08-21 09:04] vertonghenb commented on #28
Not really, the container is simply hidden because of the z-index of my header.

[2019-08-21 18:24] chrissainty commented on #28
Yes, that might be worth putting in the readme. We could up the z-index to 9999 but I'm sure someone somewhere will have an element at 10000 then we're back to the same issue.

[2019-08-21 20:06] vertonghenb commented on #28
True, I'll PR it.

[2019-08-22 14:28] chrissainty commented on #29
Resolved by #31

[2019-08-22 14:28] #29 closed

[2019-08-22 14:28] chrissainty commented on #28
Resolved by #32

[2019-08-22 14:28] #28 closed

[2019-08-22 15:42] vertonghenb opened #33 "GitHub Releases"
Can we support the releases with their notes on the GitHub Releases tab?

[2019-08-26 13:27] chrissainty commented on #33
That's a good idea it would help people understand what has gone into each release

[2019-09-05 14:46] frablaser opened #35 "C# 8"
Hi,
Great sample!

But it has been made over C# 7.3 and we all know the .Net Core 3 will use C# 8. Setting the project to C# 8, by using the preview keyword or write it directly as:
[code]

It insert the new C# 8 rules who are not compatible with your beautiful code like:
`<button class="btn btn-info" @onclick="@(() =>  toastService.ShowInfo("I'm an INFO message"))">Info Toast</button>`

Show a wa

[2019-09-09 04:37] vertonghenb opened #37 "Maximum Items Parameter"
Add a parameter to only show x amount of toasts at the same time.
For example, sometimes the user can get spammed with notifications. It would be handy to only show the last item.

[2019-09-17 04:32] dahln opened #39 "blazored-toast.css not loading correctly in Production"
Steps to reproduce:

In a Web Assembly App, I added <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" /> to the index.html page, as described in the documentation.

Toast messages appear as desired in the local dev environment. After publishing the app to an App Service on Azure, the blazored-toast.css does not load correctly.  This warning appears in the browser console:
Re

[2019-09-17 07:29] chrissainty commented on #39
Hi @dahln - It sounds like you may have hit this bug (https://github.com/aspnet/AspNetCore/issues/13103). Could you do a publish locally or check whats been deployed to your App Service to verify?

[2019-09-17 14:29] dahln commented on #39
@chrissainty Thanks for getting back to me so quickly. The bug you referenced describes my problem. I verified it by checking the folders/files that exist on my App Service. I found the _content folder, with the blazored-toast.css in it. But the _content folder was under the wwwroot folder, not the dist folder. You can close this issue as a duplicate if you wish.

[2019-09-17 14:33] chrissainty commented on #39
@dahln I've made a change in the latest version of this package which may get around the issue. Could you update to the latest version and see if the issue is resolved?

Note: You won't have to reference the CSS file in you index.html anymore it will be added automatically for you.

[2019-09-17 14:55] dahln commented on #39
I updated the package to the latest version. That worked great. Thank you.

I think I prefer not having to add the css file to the html page, since it makes the implementation of the package even more simple.

[2019-09-17 15:09] chrissainty commented on #39
I'm glad it's working for you.

[2019-09-17 15:09] #39 closed

[2019-09-27 13:33] dahln opened #41 "Toast not displaying when IToastService is injected into a non-component class"
I have created an example to demonstrate the issue I am seeing: https://github.com/dahln/Toast-PossibleIssue

In my app, I created an "ApiLibrary", to contain all my outgoing Api calls. I want to display a toast message if a server ever returns a 500 response message, and I want to use the IToastService in the injected "ApiLibrary" to invoke the message. If I call IToastService.ShowError on the pa

[2019-09-29 14:42] taylorchasewhite opened #43 "Style Updates To The Toast - Remove Monospace/Uppercase Text"
Right now in the Toast stylesheet we set the header to uppercase with the following selector/style:
`blazored-toast-body .blazored-toast-header h5`/`text-transform: uppercase;`.

We also set the font-family to `monospace` in `.blazored-toast`.

Could we allow consumers to make these determinations separately with their own CSS overrides?

[2019-09-29 14:54] taylorchasewhite opened #44 "Replace Toast Level CssClasses rather than adding AdditionalClasses"
Right now in the BlazoredToasts component there are a number of parameters that users can set including a class to apply styles to each of the different toast levels:

- ErrorClass
- InfoClass
- SuccessClass
- WarningClass

Right now these parameters set additional classes on each of the toast instances, but they don't remove the default styling.

This means that a consumer needs to find out the b

[2019-09-30 09:36] chrissainty commented on #43
Agreed, this was some default styling that was used before this project was open sourced and just hadn't been removed. It makes sense to have these values inherit from the consumers defaults.

Happy for you to submit a PR for this change if you're interested, Taylor?

[2019-09-30 09:43] chrissainty commented on #44
I think this issue is a tricky one. While what you've said would be helpful from the point of view of someone who wants to remove all default styling and replace it entirely, it makes life much harder for someone who only wants to override a single value or a couple of values.

The pattern of adding additional classes which override existing ones is pretty common in UI libraries as it's trivial to

[2019-09-30 22:27] taylorchasewhite commented on #43
Yessir, I’ll create and submit one this week, thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-02 09:22] iAmBipinPaul commented on #41
Hi , @dahln  I see you have register your `ApiLibrary` as Singleton. Try adding   `ApiLibrary`  as scoped , it should work.

![image](https://user-images.githubusercontent.com/9201481/66033001-209a1e80-e526-11e9-95ff-b861d7b76bce.png)

https://github.com/dahln/Toast-PossibleIssue/blob/3b1c76114a8db82d346c091a9e9a5e7949496e2c/BlazorToastPlayground/Startup.cs#L13

[2019-10-04 19:12] dahln commented on #41
@iAmBipinPaul Your suggestion worked. Switching the AddSingleton to AddScoped worked. I'll be honest, after trying this out, I went a reviewed the documentation from Microsoft on AddSingleton and AddScoped, and I still don't understand why this made a difference.

[2019-10-04 22:41] chrissainty commented on #41
@dahln The reason is because Blazored Toast is added to the DI container with a scoped lifetime. You added your service as a singleton. You're not able to inject a scoped service into a singleton as it would effectively make that scoped service into a singleton. ASP.NET Core's DI container will throw an exception at this which is probably the error you were seeing.

[2019-10-04 22:44] chrissainty commented on #35
Hi @frablaser,

Apologies for taking so long to reply. While C# 8 is going to be awesome I don't think now is the time to make the swap over. But once things are a bit further along then we can take another look.

[2019-10-04 22:44] #35 closed

[2019-10-04 23:04] #44 closed

[2019-10-04 23:58] dahln commented on #41
That explanation helps. Thank you. I feel like this is resolved.

[2019-10-04 23:58] #41 closed

[2019-10-05 16:54] frablaser commented on #35
Sure, until it will be in final release, it's useless to make the changes each time a new version comes out. But at the end, as soon as the production version is on the way, it would be great if you took the time to update it? ;) Thanks!

[2019-10-15 13:59] hthvdmeer opened #45 "Problem showing toast from other thread"
Thank you for this component.

I had an issue showing a toast from an other thread than the main thread.
I have fixed this in BlazoredToasts.razor.cs:
private void ShowToast(ToastLevel level, string message, string heading) by using InvokeAsync
InvokeAsync(() =>  StateHasChanged());

This solved the problem for me.

[2019-10-15 20:23] chrissainty commented on #45
Thanks for letting me know about this one @hthvdmeer. We've used InvokeAsync when removing toasts but missed it on adding them. I'll get this in the next update.

[2019-10-30 14:22] #43 closed

[2019-11-01 10:52] #33 closed

[2019-11-12 15:07] rgamage opened #48 "blazored-toast.css Not Loading correctly in non-Dev Environments in Blazor Server project"
It seems the _content folder items are not being referenced correctly for anything other than the Development environment:

To Repro:
1) Create a new Blazor Server project (dotnet new blazorserver)
2) Add all necessary Blazored / Toast elements, including code to demo a toast message
3) Test that toast is working
4) Change launchSettings.json ASPNETCORE_ENVIRONMENT to Staging, Production, or anyth

[2019-11-14 10:04] chrissainty commented on #48
Hi @rgamage, have you had this issue with other libraries? It seems like its more likely an issue with Blazor as there is no code in this library which reacts to environment variables.

[2019-11-14 17:37] rgamage commented on #48
Yes, this issue occurs on any static files that are referenced in this way, I suspect.  This is just the first lib I'm using where I hit the issue.  Can you recommend a better place to post the issue?

[2019-11-19 16:04] chrissainty commented on #48
It would be best to raise it with the [Blazor team](https://github.com/aspnet/aspnetcore).

[2019-11-19 16:36] rgamage commented on #48
Asked and answered here:
[https://stackoverflow.com/questions/58862932/blazor-server-static-files-dont-link-in-non-dev-environments](https://stackoverflow.com/questions/58862932/blazor-server-static-files-dont-link-in-non-dev-environments)

[2019-11-19 16:39] chrissainty commented on #48
Interesting, I didn't know that. Thanks for providing the link. I'm going to close this issue as it's all resolved.

[2019-11-19 16:39] #48 closed

[2019-12-10 07:54] tallichet commented on #45
It seems this was not release yet. Any planned date?

[2019-12-10 11:38] rafalone opened #49 "Allow html content"
Please, allow html content is needed, like <br /> tags.

[2019-12-13 00:16] chrissainty commented on #49
Would you want to be able to pass in a component to be displayed? Or would you want to pass in a HTML string.

[2019-12-13 00:39] chrissainty commented on #45
@tallichet I've just released this update. Apologies that it's taken a while.

[2019-12-13 04:56] rafalone commented on #49
I prefeer Html string.

Thanks Chris!!

El vie., 13 dic. 2019 1:16, Chris Sainty <notifications@github.com>
escribió:

[2019-12-13 10:13] tallichet commented on #45
No problem. It’s a good news, thanks

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>

________________________________
De : Chris Sainty <notifications@github.com>
Envoyé : vendredi, décembre 13, 2019 1:39 AM
À : Blazored/Toast
Cc : Cédric Tallichet; Mention
Objet : Re: [Blazored/Toast] Problem showing toast from other thread (#45)

@tallichet<https://github.com/tallichet> I've just released

[2019-12-16 12:21] rafalone commented on #49
Please, add

 in **Message** and **Heading** params on _BlazoredToast.razor_.

`<p class="blazored-toast-message">@((MarkupString)ToastSettings.Message)</p>`

[2019-12-18 14:49] chrissainty commented on #49
Why would this be useful in the heading? I can understand the need in the body section.

[2020-02-04 13:42] brachi-jr opened #50 "Change Header String"
Hello, I'm trying to implement MultiLanguage into my project. So I wanted to ask if there is a way I can set the header of the different toast types with a custom string.

[2020-02-04 14:07] #50 closed

[2020-02-18 00:33] nagtilaklaxman opened #51 "Unable to find the css file in blazor WebAssembly 3.2.0 Preview 1"
I am using Blazored.Toast in my webassembly Project.
I have referenced the css in index.html as below.
<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />

Before updating to WebAssembly 3.2.0 Preview 1 it was working but after updating the blazor to WebAssembly 3.2.0 Preview 1  it is not working .
issue is Css file is not found at the path.

[2020-02-18 08:51] chrissainty commented on #51
I've just created a new Blazor WebAssembly app and added the package and everything has worked as expected.

Have you tried clearing your browser cache, uninstalling and reinstalling the package?

[2020-02-19 05:04] nagtilaklaxman commented on #51
Yes. I have tried clearing the browser cache and reinstalling the package. but no success.
**_content** folder is not getting created in **dist folde**r for **netstandard2.1** on my system.
It was used to get created for **netstandard2.0**.
You can see  my attached screenshots.
![DotNetStandard2 1](https://user-images.githubusercontent.com/16507190/74803566-7cc4da00-5331-11ea-91d4-d452e95b7440.PNG

[2020-02-19 14:49] chrissainty commented on #51
I think this could be down to the fact I haven't rebuilt the project against the latest .NET Core Preview. I'll try and get that done today.

[2020-02-19 22:20] chrissainty commented on #51
@nagtilaklaxman I've just pushed a new version of the package. Please let me know if it resolves your issue.

[2020-02-20 06:42] nagtilaklaxman commented on #51
Thank you chris for instant support. But still my issue is not resolved.
you can check the attached screenshots.
![client project file](https://user-images.githubusercontent.com/16507190/74907848-5b82ed00-5408-11ea-85f1-98b876946ab5.PNG)
![DotNetStandard2 1](https://user-images.githubusercontent.com/16507190/74907850-5cb41a00-5408-11ea-81b7-7c82fc229def.PNG)
![toaster404](https://user-images.githu

[2020-02-20 08:33] chrissainty commented on #51
I've doubled checked this with a couple of projects my end with 3 separate machines and everything is working as expected. So it seems like this issue is local to you, unfortunately.

Could you try creating a brand new Blazor project installing the packages and seeing if that works?

[2020-02-20 23:15] nagtilaklaxman commented on #51
Thank you very much Chris for your help.
I tried on new project and it is working fine .
I need to debug and find the issue in my project.

[2020-03-11 15:34] #51 closed

[2020-03-11 15:38] chrissainty commented on #37
Hey @vertonghenb, just sorting all the repos out and noticed that I'd neglected this issue, apologies.

Say 5 modals are shown in rapid succession, with this feature would you want each one to show still but only one at a time? Could you provide a bit more detail on how it should work.

[2020-03-16 23:26] oscardeharo opened #52 "Timeout disabled?"
Is it possible to disable the timeout?

[2020-03-17 01:43] chrissainty commented on #52
It's not possible to disable the timeout right now, it is just an adjustable setting.

[2020-03-23 09:21] esamk commented on #51
Hi Chris
I've got the same problem. Toasts work but not with the styles.

I've cleaned and rebuilt my project as well as re-installed the nuget package several times and
situation remains the same.

[2020-03-23 10:10] chrissainty commented on #51
Hi @esamk, sorry to hear you're having issues. I'm definitely open to the possibility that there could be a bug, but at the moment I think it's more likely that you have a local issue. As I said previously, could you create a new project and add the package and see if you get the same issue?

So far anyone who's had this issue or something similar hasn't been able to replicate it, hence my feeling

[2020-03-23 12:02] esamk commented on #51
Hi Chris
A clean project works fine, just as you said.

In my real app I am using Blazorise.Bootstrap, your Typeahead component and a few others.
I'll try to add these one by one to the clean test project to see if anything breaks.

[2020-03-24 13:30] thoemmi commented on #49
Having the option to use HTML tag (e.g. `<strong></strong>`) would be quite useful.

[2020-03-24 17:54] MarkStega opened #53 "Support additional icon option, notably Material & Open Iconic"
**Is your feature request related to a problem? Please describe.**
I have two projects in which I would like to use Blazored.Toast. They make use of the Open Iconic Glyphs and Material Design icons. My preference is not to add FontAwesome just to get icons on toast popups.

**Describe the solution you'd like**
I believe that adding parameters to BlazoredToasts.razor.cs would be an effective way of

[2020-03-24 18:04] MarkStega commented on #53
Hmm I foust found examples of using material design icons as classes such as "<i class="mdi mdi-flask" aria-hidden="true"></i>". So perhaps this change isn't really needed.

[2020-03-24 18:53] MarkStega commented on #53
Arghh - Those were bootstrap MD icons, so no, I think the request still stands (although I'd be happy to be proven wrong with an example using the class 'as is'.

[2020-03-25 16:19] chrissainty commented on #49
I'm just not sure how this is achievable with our current API. I wouldn't want to have developers passing strings with HTML tags, that's just an accident waiting to happen.

I'm open to ideas if anyone has any?

[2020-03-25 16:24] chrissainty commented on #53
Trust Google to no just go with classes like everyone else!

Looks like you're right Mark, we'd need a special case to deal with Material Icons. It would be nice to not tie this directly to Material Icons though if we can avoid it, just in case some other icon pack doesn't use just CSS classes.

[2020-03-25 16:59] rafalone commented on #49
<ContentTemplate>

</ContentTemplate>

El mié., 25 mar. 2020 17:20, Chris Sainty <notifications@github.com>
escribió:

[2020-03-25 17:45] chrissainty commented on #49
But we can’t do that toasts are shown via a C# API not a razor one.

[code]

[2020-03-25 18:25] rafalone commented on #49
https://blazor.syncfusion.com/documentation/toast/getting-started/?_ga=2.144560245.1376162098.1585160524-1255340030.1569306472

El mié., 25 mar. 2020 18:45, Chris Sainty <notifications@github.com>
escribió:

[2020-03-25 18:27] MarkStega commented on #53
The best I can come up with (so far) is to add an IconType configuration element that has two values, 'IconSpecifiedByClass' and 'IconSpecifiedByName'. Setting the 'IconSpecifiedByClass' means that the toast works as it does now (And I'd default the parameter to this value. Setting the 'IconSpecifiedByName' choice requires another parameter of IconStyle that allows specification of the class. Then

[2020-03-25 19:59] chrissainty commented on #49
I’m not sure what you’re suggesting? As I said, we use a C# API, we don’t use components directly as is shown in that link.

[2020-03-25 20:02] chrissainty commented on #53
It would be great if you could put together a PR we can work through it from there. 👍

[2020-03-25 23:52] rafalone commented on #49
Passing a DOM element ref as content?

El mié., 25 mar. 2020 21:00, Chris Sainty <notifications@github.com>
escribió:

[2020-03-26 11:15] #52 closed

[2020-03-26 12:17] thoemmi commented on #49
@chrissainty Why are you proposing against raw HTML, like in `<p class="blazored-toast-message">@((MarkupString)ToastSettings.Message)</p>`?

IMHO it's the responsibility of the user of Blazored.Toast to suppress malicious HTML. E.g. he can use [HtmlSanitizer](https://github.com/mganss/HtmlSanitizer) like this:

[code]

[2020-03-26 14:55] chrissainty commented on #49
@thoemmi Mainly because it's a horrible developer experience. Writing HTML into a string loses all the IntelliSense of an IDE, you lose any dev-time checking as well. Essentially it gives a problem/bug a place to hide.

I also appreciate what you're saying that it should be the developers responsibility to check for malicious HTML but it's an extra step they have to perform and people will miss it

[2020-03-26 15:58] thoemmi commented on #49
Well, I see your point.

At the moment I'm prototyping another solution. How about an override of `ShowToast` which accepts a `RenderFragment`? Then you could write
[code]

What do you think about this approach?I'd be happy to provide a PR.

[2020-03-26 17:50] #49 closed

[2020-04-06 14:36] UweKeim opened #56 "Possible to have links in Toast?"
Currently I have a toast that e.g. says:

Now I want to give the user a chance to undo his action.

For this I am looking for a way to output something like:

Where the `[Undo]` could be a button or a link.

I've seen the example where you add formatting like `<strong>` to the message, but I cannot deduce a way for me to add a Blazor link and bind its `click` to a C# method of mine.

### My questi

[2020-04-06 16:33] chrissainty commented on #56
Hi, this isn't something we support right now. I think to support this we would need to look at how things work and make some larger changes.

Off the top of my head, we'd probably need to move to a design closer to that of Blazored Modal where you can specify a component for us to display. But that adds all kinds of extra complications into the mix.

Another option would be to have a single butto

[2020-04-06 17:14] UweKeim commented on #56
That one configurable button would be awesome to have.

[2020-04-06 17:42] chrissainty commented on #56
Ok, I'll tag this as a potential feature and we can go from there.

[2020-04-09 17:56] hensleyrob opened #57 "Progress Bar"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add a progress bar to the bottom of the Toast. Control whether it's enabled/disabled via parameter.

**Describe alternatives you've considered**
None

**Additional context**
https://codeseven.github.io/toastr/demo.html

[2020-04-10 09:13] chrissainty commented on #57
This seems like a great idea, we'll look at getting it planned out.

[2020-04-21 15:21] hensleyrob opened #58 "Ship minified css"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Ship minified css.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-04-22 16:32] chrissainty commented on #58
Agree. This would be a good idea for all the Blazored packages.

[2020-05-02 18:07] #53 closed

[2020-05-05 20:34] HybridSolutions opened #61 "[Feature Request] Remove any visible toasts on page navigation"
First of all, great job!

I setup a quick test using the default Blazor App and Toast. Everything went ok and is working, except for a minor thing. When a toast is visible, if I change to another page, the toast is still visible. It would be great to have all the visible toasts cleared on page change or at least have a Clear() method so that I could do it manually.

Have you seen this behavior?

T

[2020-05-05 21:02] chrissainty commented on #61
Hi, this isn’t a bug it’s how it was designed. The toasts show for a set time regardless of what else happens with the app.

We can look at adding this as a new feature though.

[2020-05-06 22:02] HybridSolutions commented on #61
That would be great! If you need some testing I'm available ;)

[2020-05-08 00:41] mgutwein opened #62 "Prevent Duplicates"
Add option to prevent duplicate toasts from showing.

[2020-05-08 00:43] mgutwein commented on #61
I like this idea but would still like it to be an option. There are times I want the toast to stick around.

[2020-05-08 10:34] chrissainty commented on #61
I think the default would be for toasts to stick around. The option would allow them to be cleared if the developer wanted to.

[2020-05-08 10:35] chrissainty commented on #62
If you want to request a new feature can you please fill out the Feature Request issue.

[2020-05-08 10:35] #62 closed

[2020-05-08 10:41] chrissainty commented on #16
This isn't something I've had time to get to and there doesn't seem to be a whole lot of interest in the feature. Based on that I'm going to close this issue if it's something people really want we can reopen it in the future.

[2020-05-08 10:41] #16 closed

[2020-05-08 11:29] #61 closed

[2020-05-08 14:08] #57 closed

[2020-05-08 15:03] #58 closed

[2020-05-08 17:47] mgutwein opened #67 "Ability to prevent duplicate toasts"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to have the option to prevent a toast from showing that is already showing. Similar to how MatBlazor does it. [https://www.matblazor.com/Toast](url) When you click the info button multiple times for example, it only shows the toast once.

**Describe alternatives you've consider

[2020-05-08 18:00] chrissainty commented on #67
Thanks for raising this @mgutwein.

Would you expect the timer on the currently showing toast to be reset back to its full duration, or just to timeout using the original value?

For example, you trigger a success toast which shows for 10 seconds. After 5 seconds you trigger another. Show the current toast reset to 10 seconds? Or continue counting down from 5?

[2020-05-08 18:11] mgutwein commented on #67
That's a great question I hadn't thought of. I think resetting the timer would good. If they didn't see the toast the first time they clicked it, maybe they need the extra time to read it.

[2020-05-09 07:34] StefH opened #68 "[Bug] Should the BuildBundlerMinifier be defined as private?"
Because now it's listed as a dependency?
![image](https://user-images.githubusercontent.com/249938/81467282-0faa3d80-91d8-11ea-8aa4-5416a9bac87b.png)

I think you need to update it to:
[code]

[2020-05-09 07:42] chrissainty commented on #67
I think that would make sense as well.

[2020-05-09 15:57] #68 closed

[2020-05-11 14:08] HybridSolutions commented on #61
Yes I agree too. Adding a ClearAll() method that would hide any visible toasts would be enough.

[2020-05-11 14:14] mgutwein commented on #67
You do make a good point there. I was looking at it as the user keeps doing the same action expecting a different result but just floods the screen with toasts. Maybe that would be better though.

[2020-05-11 14:59] chrissainty commented on #61
This is now released and available in the lastest package.

[2020-05-13 09:59] HybridSolutions commented on #61
Wow. That was fast. Thanks. I'll give it a go.

[2020-05-16 00:15] glubdos opened #70 "[Feature Request] Ability to make toasts from within code file instead of html binding"
If I make a new ToastService and try to push a message through nothing happens if it's done from within the cs file. Is it possible to implement this?

[2020-05-16 00:29] #70 closed

[2020-05-16 14:17] nssidhu opened #71 "[Bug] Blazor Toast Timer Error"
I am using Blazor Hosted WebAssembly and getting this Error on the startup.

blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Invalid value '0' for parameter 'interval'.
System.ArgumentException: Invalid value '0' for parameter 'interval'.
  at System.Timers.Timer..ctor (System.Double interva

[2020-05-16 15:58] chrissainty commented on #71
The default value for the `Timeout` parameter is 5 so I'm guessing you've manually set that to 0?

[2020-05-16 16:06] nssidhu commented on #71
Where do i set or initialize that value ?
    On Saturday, 16 May, 2020, 10:58:59 am GMT-5, Chris Sainty <notifications@github.com> wrote:

The default value for the Timeout parameter is 5 so I'm guessing you've manually set that to 0?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-16 16:30] nssidhu commented on #71
I was putting the Toast at the bottom of the MainLayout.turns out that i have to put it up as the first thing ?It is working as expected once i put on the top of the MainLayout.
    On Saturday, 16 May, 2020, 10:58:59 am GMT-5, Chris Sainty <notifications@github.com> wrote:

The default value for the Timeout parameter is 5 so I'm guessing you've manually set that to 0?

—
You are receiving this be

[2020-05-16 16:36] chrissainty commented on #71
That shouldn't matter and definitely should effect the timer value. Are you sure you've not changed the setting for the `Timeout` parameter?

[2020-05-16 16:39] nssidhu commented on #71
Yes, I did not change the timer value, I don’t even know where and how to change it.
I just saw you toast example where you have it on the top and I just copy pasted the at the bottom. It did not work.
Next I moved it to the top and it started working.

Sent from Yahoo Mail for iPhone

On Saturday, May 16, 2020, 11:36 AM, Chris Sainty <notifications@github.com> wrote:

That shouldn't matter and de

[2020-05-20 00:15] darrylluther opened #72 "[Bug] bundleconfig.json added to project when installing NuGet package"
**Describe the bug**
We use TFS for source control and when I install the Blazored.Toast v3.1.1 NuGet package I am presented with the dialog shown in the attachment. It wants to add a bundleconfig.json to my project, but the path to that file is in the .nuget/packages/blazored-toast folder. No matter which selection I choose - "Add the item" or "Cancel add" - I get a bundleconfig.json file in the

[2020-05-20 07:18] chrissainty commented on #72
Thanks for letting us know about this one @darrylluther. I'll take a look at this and get a fix out ASAP.

[2020-05-20 07:56] #72 closed

[2020-05-20 08:41] chrissainty commented on #72
This has now been pushed to NuGet and should be available shortly.

[2020-05-20 14:50] darrylluther commented on #72
Thanks for the super fast response, Chris. Really enjoying your libraries.

[2020-06-03 22:30] Delpire opened #74 "[Feature Request] Specify size of the toast."
**Is your feature request related to a problem? Please describe.**
Not exactly. The toasts are just really big and if the window is small can obstruct some text.

**Describe the solution you'd like**
I would like to be able to specify a specific size, or have different size options to choose from such as a more compact view.

**Describe alternatives you've considered**
I've thought about trying to

[2020-06-03 22:45] chrissainty commented on #74
Hi @Delpire, why do you feel overriding the CSS is a bad idea?

[2020-06-03 22:56] Delpire commented on #74
@chrissainty  Hello! Perhaps just my lack of css experience. I can give it a try. I like how bootstrap often provides different classes I can pass to an html element to specify the size, I just thought it would be nice to provide this to the Blazored Toast element.

[2020-06-03 23:05] chrissainty commented on #74
I understand where you’re coming from. The problem is what sizes do we provide? Small, medium, large? What’s small? What’s large? One persons small is another persons medium or vice versa.

I’m open to ideas.

[2020-06-03 23:21] Delpire commented on #74
Well right off the bat, having an option to remove the header would reduce the height. That being said, it probably isn't a good idea to depend purely on color.

I could see maybe providing a "compact" option where the padding is reduced, the font size is reduced, and perhaps the header and text could be on the same line. Kind of like how Slack provides Clean vs Compact messages:

![image](https:/

[2020-06-03 23:27] chrissainty commented on #74
We could definitely expose some levers for people to tweak but if I’m honest, CSS does all of this. I’m reluctant to adds loads of options into the component and make the code far more complex when everything is infinitely customisable with CSS.

[2020-06-04 01:01] Delpire commented on #74
That's fair. I am okay with this simply being closed.

One last option that I am also not sure about the feasibility of, would be to provide some kind of empty toast type that we could pass a render fragment to.

[code]

Regardless, thank you for taking the time to discuss this!

[2020-06-04 01:01] #74 closed

[2020-06-08 16:26] drma-dev opened #75 "[Feature] Add the ability to configure options per toast instance"
* hide the header
* being able to dynamically choose the icon (I don't want to use a fixed one for all situations)
* can have multiple notification settings (can use in different contexts)

[2020-06-08 17:20] chrissainty commented on #75
Hi @drma-dev, could you clarify a couple of questions.

When you say you don't want to use a fixed icon, do you mean you use different a different success icon in different parts of the same application?

What do you mean by multiple notification settings in different contexts?

[2020-06-08 17:48] chrissainty commented on #75
Cool, thanks.

So you can configure different icons for different type of alert right now. If you have a look at the [README](https://github.com/Blazored/Toast/blob/master/README.md) it explains how you can do this.

I understand what you mean now by different notification settings. That is something we can look at adding.

[2020-06-08 17:52] drma-dev commented on #75
About the icons ... I had read, but from what I understand, you adjust the icons by type of alert. I want to be able to have different icons for the same type of alert, depending on the message I want to show.

[2020-06-08 17:56] chrissainty commented on #75
Ah ok, that what I was asking in my first reply. It obviously got lost in translation :)

[2020-06-08 22:28] drma-dev commented on #75
if you need help, just let me know

[2020-06-12 19:35] IcepiQ opened #76 "[Question]"
Hi,

Should the toast notification be sending over 200 Blazor requests to the server during the 5 seconds while it is open?
I can see 215 requests for the 5 seconds while the notification is open, these start as soon as it opens then stop as soon as it closes.

Thanks

[2020-06-13 13:39] chrissainty commented on #76
Hi @IcepiQ, could you provide some more detail around where you're seeing this and what hosting model you are using?

[2020-06-14 08:08] IcepiQ commented on #76
Hi Chris,

Thanks for the response, I've managed to work out the issue, nothing wrong with the Toast Component.
I worked out it was working fine within IIS Express but when I published it to IIS SignalR was falling back to polling and was making hundreds of polling requests.
All I had to do was install the Web Sockets protocol in IIS and now it works fine.

Thanks

[2020-06-14 19:15] chrissainty commented on #76
Thanks for letting us know and glad you got it sorted.

[2020-06-14 19:15] #76 closed

[2020-06-14 21:18] nyash commented on #75
Hi,

I think the best general approach would be to have a ToastSettings object that globally is initialized in the markup and provides default values for all the possible options.

[code]

Then add an overload to all the `ShowXXX` methods of IToastService that accepts a `ToastSettings` object which would allow us to override the defaults.

e.g:
_toastService.ShowInfo("added ok", new ToastSettings(

[2020-06-14 21:27] nyash commented on #75
Hi,

I think the best general approach would be to have a ToastSettings object that globally is initialized and provides default values for all the possible options.

[code]

Then add an overload to all the `ShowXXX` methods of IToastService that accepts a `ToastSettings` object which would allow us to override some of the defaults.

e.g:

[code]

Then the settings should be merged which would all

[2020-06-14 21:33] nyash commented on #75
Hi,

I think the best general approach would be to have a settings object that provides global default values for all the possible options.

[code]

Then add an overload to all the `ShowXXX` methods of IToastService that accepts a `ToastSettings` object which would allow us to override some of the global defaults.

e.g:

[code]

Then the actual options passed would be the result of a merge of the

[2020-06-14 21:36] nyash commented on #75
Hi,

I think the best general approach would be to have a settings object that provides global default values for all the possible options.

[code]

Then add an overload to all the `ShowXXX` methods of `IToastService` that accepts a `Settings` object which would allow us to override some of the global defaults.

e.g:

[code]

Then the actual options passed would be the result of a merge of the glo

[2020-06-14 21:51] nyash commented on #75
Hi,

I think the best general approach would be to have a settings object that provides global default values for all the possible options.

[code]

Then add an overload to all the `ShowXXX` methods of `IToastService` that accepts a `Settings` object which would allow us to override any of the global defaults.

e.g:

[code]

Then the actual options passed would be the result of a merge of the glob

[2020-06-14 22:16] nyash opened #77 "[Feature Request] Toast settings should be reworked to allow greater customization"
Hi,

I think that the toast settings should be reworked to allow greater customization.

There should be global and per toast settings which the latter can override. Both of which should mirror one another.

For global settings one possible option is this:

[code]

For per toast settings two possible options are:

1.
[code]

Then the actual options passed would be the result of a merge of the glob

[2020-06-16 18:04] xDaevax opened #78 "[Feature Request] Strong Named Assembly"
### Summary
I think it would be useful if this assembly was strong-named.

### Need
I'd like to use this library in my Blazor Server-side project, but I have constraints that the assemblies I'm building must be strong-named, which means I can't use this as-is.

### Solutions
I can fork and pull request a version with an `*.snk` file included and the project properties updated if that works best.
*

[2020-06-17 07:09] chrissainty commented on #77
I agree @nyash, adding this ability would be a big improvement. We do exactly what you've suggested for Blazored Modal and it works really well.

[2020-06-17 07:11] chrissainty commented on #78
Hey @xDaevax, I'll be honest I've never come across Strong Named Assemblies before. I've had a search about and have a bit of an idea what they are now.

Could I just ask, more for my own curiosity why you need them? Is it just a security thing, to verify the assembly hasn't been tampered with?

[2020-06-17 12:44] xDaevax commented on #78
@chrissainty Thanks for the reply.

Any assemblies that are built using a strong name (the ones I'm building) require all referenced assemblies to be strong-named as well.  Adding an assembly without a strong-name results in a build error. Example: (https://stackoverflow.com/questions/331520/how-to-fix-referenced-assembly-does-not-have-a-strong-name-error).

[2020-06-26 09:24] beardiedog opened #79 "[Question]anchoring to the left"
**Please be sure to check the readme file before raising an issue.**
Hi is it possible to have the notifications anchored to the left?  I am developing for mobile and have some non responsive grids that enable the users to scroll along to read all the information but this makes the canvas off the screen and hence notifications anchored right they do not see.

[2020-06-26 15:23] chrissainty commented on #79
Hey, as the README states, the position of the modal is configurable using the `Position` parameter.

[code]

[2020-06-26 15:23] #79 closed

[2020-06-27 11:21] beardiedog commented on #79
ah great I'll take a look at that then I assumed it would be configurable like others I've tried that's great news thanks

[2020-06-28 19:58] otahirs opened #80 "[Bug] Toast is not displayed on page with Route parameters"
~~When a page contains a route parameter, Toast is not injected.
In the following example, toast works fine on `/Page`, however it is not displaying on `/Page/foo`~~

~~`@page "/Page"`~~
~~`@page "/Page/{routeparameter}"`~~

~~_more on route parameters https://docs.microsoft.com/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-3.1#route-parameters_~~

[2020-06-29 14:19] chrissainty commented on #80
HI @otahirs, could you provide some more information on what is happening? There is no way I can diagnose the issue with the current information. Ideally, you could create a simple repro of the issue, or describe the exact steps needed to recreate the problem. Thanks.

[2020-06-29 16:36] otahirs commented on #80
I have tried to make a minimal working example page and found out, that the problem is actually not within the Parameters.

If the page is accessed via a `href`, everything works fine, but when the page is accessed by changing the Url in the adress bar, the Toast Service does not fire from the `OnInitialized` function.
[code]
![Screencast from 29 6 2020 18 32 46](https://user-images.githubusercont

[2020-06-29 19:20] chrissainty commented on #80
Are you seeing any errors in the console when you load the page directly?

[2020-06-29 19:26] otahirs commented on #80
I do not. Here is the barebone project from the video.
[ToastDemo.zip](https://github.com/Blazored/Toast/files/4847606/ToastDemo.zip)

[2020-07-01 21:36] zanyar3 opened #81 "BlazoredToasts not support RTL direction"
I want use `BlazoredToasts` with **rtl design** but not support and broken&conflict  design your tost

### My Page

[code]
### Problem issue
![Capturex](https://user-images.githubusercontent.com/45498591/86293626-afde7a80-bbfb-11ea-9a2b-ecc644c08997.PNG)

[2020-07-02 07:17] chrissainty commented on #81
Hi @zanyar3, I'm sorry but I've not heard of rtl design before. Could you point me to some resources so I can understand what it is, then I can offer some advice.

[2020-07-04 08:37] zanyar3 commented on #81
@chrissainty **RTL** design use for move every thing to right
**`RTL`**, which means right to left and is to be used for languages that are written from the right to the left (like Arabic);
which means left to right and is to be used for languages that are written from the left to the right (like English);

For more info read [here](https://www.w3schools.com/tags/att_dir.aspl)

Dear i fixed my iss

[2020-07-04 19:06] andrepires opened #83 "The path must be absolute"
Hi.
Trying Blazored on an app running in Docker (Linux) throws error as soon as I install the extension.
It's not even necessary to set it up.
Just install it and try to run.
It throws error with message "The path must be absolute".

[2020-07-06 07:45] chrissainty commented on #83
Hi @andrepires,

Someone has mentioned that they are seeing this behaviour with Blazored Modal as well. They linked an issue on the ASP.NET Core repo which I can't find now which implied it could be the result of an issue with Blazor itself. I'll find the original message and link and get back to you.

[2020-07-06 15:27] andrepires commented on #83
Ok. Thank you:

On Mon, 6 Jul 2020 at 08:45, Chris Sainty <notifications@github.com> wrote:

[2020-07-17 08:37] Rymix opened #85 "Toast is not loading properly the first time"
Hi,

I'm running blazor webassembly 3.2.0 and toast 3.1.2.
But i have some issue, the first time i run my blazor application, there is an issue with the toast.
If i refresh the page, it will working fine.

![image](https://user-images.githubusercontent.com/7524521/87766386-0c74a300-c854-11ea-964b-62e359d01d5d.png)

This is at the left top corner instead of the right top corner and red toast.

Than

[2020-07-17 09:42] chrissainty commented on #85
Hi @Rymix, this looks like a potential caching issue or some other local browser problem. We see these from time to time. If you could clear your browser cache, then try again. Also try and open the page in a private/incognito window.

[2020-07-18 18:24] grserwe commented on #85
Rymix, did you get this working?  I tried Chris's suggestion of private/incognito window and still get 404 error trying to get either the minified or non minified stylesheet.  If I manually add a copy of the stylesheet the toasts work just fine.   Obviously not a long term solution, but I'll try and do some digging.  I'm also using webassembly 3.2.0.

[2020-07-18 21:40] grserwe commented on #85
I updated my .net sdk and now it finds the css file.  Very strange.

[2020-07-20 21:01] pablopioli opened #86 "Timeout takes longer than expected"
**Describe the bug**
If you set the timeout the amount of time it takes for the toast to dissappear is always longer than expected.

**To Reproduce**
Steps to reproduce the behavior:
In the WebAssembly sample set a timeout of 2 seconds, you will see the toast takes much longer to dissappear. In my machine it takes around 5 seconds.

**Suggestion**
The resolution timer en Blazor (specially in WebAs

[2020-07-21 15:20] Springwald commented on #71
I had the same error.

The Reason was, that I did not include the component into the MainLayout.razor as written in the description but into another sub-component instead.

[2020-07-22 04:23] Jcparkyn commented on #56
I've found a workaround that can be used to solve this.

1. Create a separate .razor file with the button and/or other content you want in the modal, and the required services injected (to handle the button event).
[code]

2. Add this method to the `@code` section:
[code]

3. Then, to show the component in a Toast:
[code]

If you need to call an instance method or pass other data from the calling

[2020-07-24 09:33] Rymix commented on #85
Dear @chrissainty
Yes it was cache issue, everything is working great now !
Thank you for your help !

[2020-07-24 09:33] #85 closed

[2020-07-26 08:08] ANM86 opened #88 "[Feature Request] Make closing event accessible"
It would be nice to  use the close event for some custom operations.

E.g.: We use the toasts to give the user information about WebAPI responses. We keep track of all displayed messages and the user have to "confirm" that he has read it. So the most outputs are kept quite simple and short, and the user could "confirm" them with clicking the close button at the time when he reads the toast message

[2020-07-26 11:08] chrissainty commented on #88
That's a great idea @ANM86. I'm now working on the next version of Toast so I'll include this.

[2020-07-26 11:18] chrissainty commented on #86
Thanks @pablopioli, I'll add this in the next release.

[2020-07-26 11:19] chrissainty commented on #83
Hi @andrepires, I've not had any luck tracking down the issue, are you still experiencing the problem?

[2020-07-26 11:28] chrissainty commented on #86
@pablopioli I've just tried this out using the sample projects and changing the timeout reflects correctly as far as I can see. Can you provide any more info around this?

[2020-07-26 17:36] ANM86 commented on #88
Nice. I am looking forward to your new version. Thanks man

[2020-07-26 23:00] andrepires commented on #83
Hi.
When it happened and I was not able to solve the problem, I removed the
library.
I can install and try again.
I will do it and let you know.

On Sun, 26 Jul 2020, 12:19 Chris Sainty, <notifications@github.com> wrote:

[2020-07-27 20:08] pablopioli commented on #86
You should try it in Firefox. See an example in https://youtu.be/mQWLB_4-h1A

My **guess** is that recreating the timer can lead to threading problems, where the browser does not reschedule the timer until some time later. So I opted to use an interval and preserve the original timer.

[2020-07-27 21:28] chrissainty commented on #86
Thanks for that @pablopioli. I've made some updates to the timer based on your gist, keeping the single timer instance. It's much cleaner and more efficient.

[2020-08-01 22:38] #86 closed

[2020-08-17 16:32] AskYous commented on #56
This feature would be a huge improvement.

[2020-08-27 23:04] noelrv opened #91 "Toast does not align left or center on small devices"
**Describe the bug**
When setting Position="ToastPosition.TopCenter" or Position="ToastPosition.TopLeft" the toast appears to be aligned to the right and cropped.

**To Reproduce**
In MainLayout.razor use the following and trigger a toast with toastService.ShowToast(ToastLevel.Error, "Bug!");
<BlazoredToasts Position="ToastPosition.TopCenter" />

**Expected behavior**
Toast should appear at the to

[2020-09-29 13:13] gosferano commented on #37
Was looking through submitted issues to find this one and I think what you described is exactly what the issue reporter meant, i.e., there would be a stack of toasts with configurable max element count.

[2020-10-13 20:38] stevieTheCoder opened #93 "[Bug]"
**Describe the bug**
Toast is not displayed when called from an HttpMessageHandler.

**To Reproduce**
Register a Scoped handler implementing DelegatingHandler, inject IToastService into the handler.  Call toast.ShowError from the handler.

**Expected behavior**
Toast message is displayed

**Hosting Model (is this issue happening with a certain hosting model?):**
 - Blazor WebAssembly

**Additional

[2020-10-13 22:10] stevieTheCoder commented on #93
As an interim work around registering IToastService as a singleton resolves the issue.  Is there another solution?

[2020-10-21 23:36] blacksmith01 opened #94 "[Feature Request] Make the behaviour of the heading setting more predictable"
Is there any way I can use it as below?

![Toastify](https://user-images.githubusercontent.com/567946/96800892-68e1f280-1441-11eb-9a0e-338f7224151b.png)

[2020-10-21 23:47] blacksmith01 commented on #94
Oh, I find a way.
I can use heading parameter for message.
like `ShowSuccess("","This is a toast")`

[2020-10-22 16:45] esso23 commented on #94
Requesting reopen:
First parameter of ShowSuccess is message and second is heading (with a default value of "").
If I request a heading with value "", I should get a heading with value "" (empty), not a heading with value "INFO".

I would propose setting default value of heading to "INFO" - as is displayed. Setting null should hide the heading. This would be much clearer than the current solution.

[2020-10-23 06:46] BewaControl-ReneDivossen commented on #94
null and string.Empty should both make heading dissappear (and no empty space should be taken for the nonexisting header)

[2020-10-24 22:19] chrissainty commented on #91
Apologies for taking so long to address this issue, @noelrv. This should definitely be fixed.

[2020-10-24 22:23] chrissainty commented on #93
Hi @stevieTheCoder, I'll have to investigate this one. I'm not sure why changing the `IToastService` registration to a singleton has fixed the issue. Usually, this points to the `IToastService` being injected into a service with a longer lifetime than its own. However, all your code appears to have a scoped lifetime, which is the same as the `IToastService`.

[2020-10-24 22:25] chrissainty commented on #83
I'm going to close this due to a lack of information. If more information can be provided then this issue can be reopened.

[2020-10-24 22:25] #83 closed

[2020-10-24 22:27] chrissainty commented on #71
This looks like it turned out to be a configuration error. I'm going to go ahead and close this.

[2020-10-24 22:27] #71 closed

[2020-10-25 08:03] stevieTheCoder commented on #93
Hi Chris I believe this is the reason why.  https://www.google.com/amp/s/andrewlock.net/understanding-scopes-with-ihttpclientfactory-message-handlers/amp/
Unfortunately I don't think you can use the httpcontextaccessor in blazor wasm to resolve the dependencies as described.

[2020-10-26 10:52] blacksmith01 commented on #94
I agree with eso23's suggestion.
I was expecting that at first, too.
It will be nice if Chris update it.

[2020-11-01 17:06] minimalisticMe opened #95 "[Feature Request] Check if toast was invoked"
In order to test my application correctly, I would love to check, whether a toast has been invoked or not.
I would also like to know the content of the toast (optional).

[2020-11-01 19:07] minimalisticMe commented on #95
I was way to fast, there is an interface _IToastService_ I can attend to.
Apologies, this issue can be closed.

[2020-11-01 19:07] #95 closed

[2020-11-13 18:49] scottkuhl opened #96 "[Feature Request] Timeout Per Level"
I would like to set the timeout value to a different default for each level.  Some levels are arguably more important, so for example, warnings could be set a longer timeout and error messages never go away until manually closed.

Example:

If you set additional timeout values, they override the default timeout value.

<BlazoredToasts SuccessTimout="0" WarningTimeout="10" Timeout="5" />

Alternati

[2020-11-14 19:24] chrissainty commented on #96
I think this makes a lot of sense and would definitely be something we can add to the library.

We have the concept of global and instance settings in Blazored Modal, we could implement this in a similar way.

[2020-11-25 12:57] Liero commented on #75
+1
Regarding the design, what about
`void ShowToast(ToastLevel level, string message, string heading = "",  ToastSettings settings = null);`

[2020-11-25 13:16] Liero opened #97 "[Feature Request] ShowToast can return handle to toast instance in order to close or update it."
## SCENARIO
I would like to show toasts instead of wait overlays in different scenarios.

For example when user click a button, I'm sending some emails in the background and during the process I would like to show a toast with messing "Sending emails..". When done sending, I would like to either close the toast, or update it to "Emails sent".

var toastReference = await toastService.ShowToast(Toas

[2020-11-26 06:41] chrissainty commented on #97
Thanks for raising this @Liero. It is actually already being worked on as part of the next major version! I'll tag this issue as part of that milestone so we make sure we don't overlook anything.

[2020-12-13 14:31] adambajguz opened #98 "How to customize close button icon and remove close button?"
How to customize close button icon and remove close button?

[2020-12-13 14:39] adambajguz opened #99 "Progress bar background color does not respect InfoClass etc."
When info, success, error, or warning class is passed, progress bar background color is default. Progress bar background color should either be automatically set to lighter/darker color or a parameter should be added to configure progress bar color.

[2020-12-15 17:07] chrissainty commented on #98
This isn't something that can be customised right now, the close button has a hardcoded SVG. We would need to make some changes to be able to customise this.

[2020-12-20 06:34] malhabibi opened #100 "[Bug] Unicode Characters are displayed as Question Marks"
**Describe the bug**
I tried to use the following code
<button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("بسم الله الرحمن الرحيم", "ملاحظة"))">Info Toast</button>
But it's displayed incorrectly.

**Screenshots**
![image](https://user-images.githubusercontent.com/13976213/102706801-b7730800-429d-11eb-94fb-80c85ca2fac9.png)

**Hosting Model (is this issue happening with a certain

[2020-12-20 21:10] malhabibi commented on #100
Changing the razor file encoding to UTF8 solve the problem.

[2020-12-20 21:10] #100 closed

[2021-01-04 16:00] drma-dev opened #101 "Toast with low z-index"
I'm using a bootstrap feature in which the button is with z-index 2, there is overlaying the toast.

![image](https://user-images.githubusercontent.com/12803050/103553702-9826ce00-4e8c-11eb-958d-b3fb80c1ad65.png)

[2021-01-04 16:03] chrissainty commented on #101
You will need to override the `.blazored-toast-container` class in your CSS and provide a higher z-index.

[2021-01-04 16:03] #101 closed

[2021-01-04 16:11] drma-dev commented on #101
@chrissainty
but isn't 1 too low for a floating popup?

[2021-01-04 20:24] chrissainty commented on #101
It depends, if nothing has a higher z-index then no. The problem with z-index is that there is always something which has a conflict for someone, somewhere. If we set it to 999 there will be something which has an index of 1000. It's a trivial task to set the z-index in a project.

[2021-01-08 20:55] szalapski opened #103 "[Feature Request] Is there any way to clear all toasts, or certain toasts?"
**Is your feature request related to a problem? Please describe.**
I have a form that can give errors when the user tries to save. When unexpected errors occur, the errors are shown in a 30-second toast (as well as on the page, usually).  If the user corrects the errors and saves successfully, the error toasts are still shown till the 30 seconds are up, even though they no longer apply.

**Describ

[2021-01-14 19:41] Rowingwolf commented on #94
I agree.  Would like to suppress the heading, especially for info toasts.

[2021-01-20 01:06] vertonghenb commented on #71
For others having this issue, notice that
`<BlazoredToasts/>` and not `<BlazoredToast/>` is used in the `MainLayout`

[2021-02-10 19:08] Mijalski opened #105 "[Feature Request] OnToastClick custom behaviour"
Add a way to execute custom behaviour when an user clicks toast (not exit button).

Example:
When toast indicates to user that his download is ready, after click we would like to redirect him to a new page.

[2021-02-14 15:37] chrissainty commented on #105
Hi @Mijalski, this seems a great addition, and thank you for providing a PR as well. Everything looks good so I'll get it merged and this will go out with the next release.

[2021-02-14 15:59] #105 closed

[2021-02-14 18:34] drma-dev opened #107 "[Question] is there any way to call from javascript?"
There are some things that I still have to use javascript to solve. and I need to show some alerts from there.

[2021-02-15 06:48] chrissainty commented on #107
I've not tried this but you could create a method on the layout component and make it JS invokable. In that you could trigger the toast and then call the method from JavaScript.

[2021-02-24 10:44] cryo75 opened #108 "[Bug]"
I placed the component in my main layout (above all other components). My layout is based on a header, left navigation menu and content components.

The toast is being displayed above the content but below the header. How can I make it display above all other components? How can I access the z-order?

[2021-02-25 07:05] chrissainty commented on #108
Can you provide a minimal repro of the issue. Once that is done I can offer some advice and we can get this resolved.

[2021-03-01 00:45] revenz commented on #67
I get why some people would not want this, but please expose an option.  And an option to reset the toast timer if a duplicate is found.

I could just fork the code and do this myself, and I may have to, but I would prefer if this was added as an option

[2021-03-02 11:24] chrissainty commented on #67
@revenz As you can see from the discussion above, we concluded it wasn't a great UX and @mgutwein decided it wasn't something he wanted pursue.

However, feel free to reopen this issue and create a PR if you have a use for this functionality. It just wasn't something I was going to add in without anyone wanting to use it.

[2021-03-02 15:21] jbarrineau06 commented on #108
You just need to adjust the z-index on the class "blazored-toast-container". At least that's what I did.

[2021-03-02 15:28] jbarrineau06 opened #109 "Would there be any issues if I added this as a singleton service?"
I have a singleton network status service for my app, and I would like to be able to display a toast whenever the networks' status changes, but I can't seem to reference a scoped service in my singleton service.

On the surface it seems like the toast service should be a singleton as well, since we are just displaying a message, regardless of state. But I am pretty new to Blazor so you probably kn

[2021-03-02 16:06] cryo75 commented on #108
It worked

[2021-03-02 16:06] #108 closed

[2021-03-02 17:35] chrissainty commented on #109
The ToastService is registered as scoped so that it's compatible with Blazor Server. Say there were 3 people using a Blazor Server app. If one of them triggered a toast, all 3 of them would see it if the service was a singleton.

If you're writing a Blazor WebAssembly application then feel free to register it as a singleton as in Blazor WebAssembly singleton and scoped are the same. You just won't

[2021-03-02 17:35] #109 closed

[2021-03-13 03:28] dchupp commented on #96
Chris after you looking for a someone to help you maintain? I can donate some of my time as I use some of your extensions in projects.

[2021-03-16 15:30] danieljsummers opened #110 "[Feature Request] Add doc for SSR init (example included)"
**Is your feature request related to a problem? Please describe.**
I have a Blazor WASM application that was working swimmingly, until I converted it to server-render the initial view; once I did that, the toast wouldn't show. In doing some research on why it wasn't working, I determined that it was likely an issue [similar to this one, describing HTTP client issues](https://jonhilton.net/blazor-w

[2021-03-16 15:59] scottkuhl opened #111 "[Question] Markup in Messages"
Is there a way to display line breaks and other markup in toast messages?

[2021-03-20 14:41] chrissainty commented on #111
Hi @scottkuhl. You can pass arbitrary mark-up to the component in the form of a render fragment. Checkout the [sample applications](https://github.com/Blazored/Toast/blob/main/samples/BlazorWebAssembly/Pages/Index.razor) for an example.

[2021-03-20 14:41] #111 closed

[2021-03-20 15:30] chrissainty commented on #96
Hi @dchupp. I'm always happy to have some help! :)

[2021-03-22 08:25] KrylixZA opened #112 "[Question] How to get Safari to load CSS?"
Hey all 😊 I have just started my first application with Blazor WebAssembly. I am developing on a M1 MacBook Air and use Safari as my default browser on macOS Big Sur 11.2.3.

When I run my application in Safari and display a toast message, the toast appears at the top of my screen as follows:
<img width="1021" alt="image" src="https://user-images.githubusercontent.com/16819506/111960604-9ddd9880-8

[2021-03-22 09:00] KrylixZA commented on #112
Hi. Closing as this appears to work now. I didn't change much but it could have possibly been caching. Thanks for the awesome library!

[2021-03-22 09:00] #112 closed

[2021-03-27 22:18] titobf commented on #96
This feature would be a great addition

[2021-04-16 10:05] ViRuSTriNiTy commented on #107
@chrissainty Exactly what I have done and it works pretty nicely. Here is my solution, perhaps it can serve as a template for other users:

***JavascriptToastBridge.razor***
[code]

***javascript-toast-bridge.js***
[code]

***App.razor***
[code]
***in any JS code***
[code]

[2021-04-17 11:51] CrahunGit opened #113 "[Question]"
How can I change error icon when calling toastService.ShowError? I don't want to see mainlayout icon every time.
If put any other BlazoredToasts element on page I see two toast instead on one.

[2021-04-17 12:36] chrissainty commented on #113
You can't change the icon on a case by case basis right now. You can only set a global icon. Closing a duplicate of #75

[2021-04-17 12:36] #113 closed

[2021-04-26 16:47] tamjoeho opened #114 "[Bug] CalculateProgress may result in unhandled exception crashing the application pool"
**Describe the bug**
Application crash observed in a production environment.

From Windows Event Viewer:

CoreCLR Version: 4.700.20.26901
.NET Core Version: 3.1.5
Description: The process was terminated due to an unhandled exception.
Exception Info: System.ObjectDisposedException: Cannot process pending renders after the renderer has been disposed.
Object name: 'Renderer'.
   at Microsoft.AspNetCo

[2021-05-09 11:55] dipad opened #115 "Blazored Toast not displaying when called before Navigationmanager.NavigateTo"
Hi, blazored toast doesn't show up when getting called before redirecting the user to a different page using the navigation manager.
I have also added the itoastservice as singleton in startup.cs
    services.AddSingleton<IToastService, ToastService>();
[code]

[2021-05-17 00:21] benghaner commented on #115
Good evening!

When NavigateTo is invoked, the browser will load a new page from the server. Everything in the browser window is removed and replaced with the new page. In this case, the toast is displayed and then removed very quickly.

Hope this helps! Here's the [link](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-5.0#uri-and-navigation-state-helpers)

[2021-05-17 07:54] dipad commented on #115
Good morning,
Thanks for your response. i have tried adding "true" in the NavigationTo =>  NavigationManager.NavigateTo("SelfService/Home", true);
It still doesn't show up.
I think the blazored toast doesn't support navigateto and i think it is very important as people would like to show toast notification after user saves data and get redirected to list page.
kr,ola    On Monday, May 17, 2021, 02

[2021-05-17 18:11] chrissainty commented on #115
Can you create a repro project showing the issue and I'll take a look. Also, you don't need to register the `ToastService` as a singleton just use the `AddBlazoredToast` extension and the service will be registered with the correct scope.

[2021-07-01 15:00] setezerocinco commented on #103
Any news about this functionality?

[2021-07-03 09:27] chrissainty commented on #103
An update for toast will be coming next after an update to Typeahead. This will be addressed then unless someone wants to contribute a PR.

[2021-07-08 09:43] vandyckth opened #120 "Custom default toast titles"
At this moment, every toast type has its own default title that can be overridden when calling the IToastService. Works great, but I would love to be able to change the default title of each toast type (like we can set a custom icon for each type also), in the MainLayout.razor-file. Something like 'DefaultSuccessTitle'.

[2021-07-10 15:20] chrissainty commented on #120
Hi @vandyckth, this seems like a good idea. I'd be happy to take a PR for it. This would just follow the same pattern as the other global options.

[2021-07-12 12:48] vandyckth commented on #120
@chrissainty Thanks a lot! Looking forward to the implementation. :)

[2021-07-13 10:49] nheath99 opened #122 "[Question] New NuGet release"
Would it be possible to release a new version to NuGet with the latest changes?

[2021-07-15 11:29] marcuscreatevision opened #123 "[Question]"
**Please be sure to check the readme file before raising an issue.**

Is it possible to have some kind of templating system like the Modal has? I would like to customize them a bit but not sure if you can use your own razor comps.

[2021-07-15 11:30] marcuscreatevision commented on #81
As an idea. While I don't personally have this issue. Why not add some kind of templatesystem like the Modal has?

[2021-07-17 09:21] linkdotnet commented on #122
Is there any maintainer left for the project? I feel like issues / PR aren't getting any attention anymore.
Is there a chance to elect new maintainer to drive the project fruther? @chrissainty

[2021-07-19 09:35] chrissainty commented on #123
This isn't something which is possible right now. But it is something that I'm planning for the next release.

[2021-07-19 09:48] chrissainty commented on #122
@linkdotnet I'm very much still here. At the moment the only unreleased change is a new onclick handler. Toast is having some larger work done on it by myself and a college and once this is done it will form a new major release. Regarding your PR, I have scanned it but it doesn't address the issue which you've tagged. That issue requests that the close icon be customisable and removable. A note wh

[2021-07-19 09:59] linkdotnet commented on #122
Thanks for responding. @chrissainty I didn't mean my PR :D there is a open PR since February.
I very much support if you're still engaged with that project

[2021-07-19 13:38] nheath99 commented on #122
Thanks for responding @chrissainty, the onclick handler is what I'm interested in :) No pressure though - I'm glad there's a new major release in the pipeline as Toasts is so useful it's become a standard UI element in all my Blazor projects.

[2021-07-19 13:38] #122 closed

[2021-07-19 19:22] linkdotnet commented on #80
I know I am a bit late to the party, but the "issue"  is more or less design.

If you have a page which consists out of multiple components, `OnInitialized` gets first called from the Page *then* from the `Component`. Now we have two cases:

1. You redirect from index to your test page.
2. You hit F5 as in your example

Keep in mind the BlazorToastService is registed `Scoped`:
For 1: You are still

[2021-07-19 19:23] linkdotnet commented on #80
I would suggest to close the bug as it is more related to how Blazor works in general and not how BlazorToast operates.

[2021-07-22 15:48] kevingates commented on #115
Hi @chrissainty , I've noticed this too. Essentially I'll see a blip of the notification start to show, then after the navigation occurs, the toast is removed.

In my experience, this is occurring with the NavigateTo("yourPath") has the optional parameter of `ForceReload` set to true. When it is the default value, it seems to work as expected.

[2021-07-23 06:58] chrissainty commented on #115
@kevingates That would be expected behaviour. When using `NavigateTo("...", true)` you're telling Blazor to navigate to that route and reload the application. Hence the flash. The toast starts to show and then the app is reloaded and all components are destroyed.

[2021-07-23 07:20] chrissainty commented on #80
Hi @otahirs.

Moving the `BlazoredToasts` component to the top of the MainLayout resolves the issue. To be clear, the following works:

[code]

This doesn't:

[code]

[2021-07-23 07:25] #80 closed

[2021-07-29 18:55] #98 closed

[2021-08-08 19:55] Davinel17 opened #124 "[Bug] Not displaying color"
i always have this on display , i dont know why , somoene can help ?

![image](https://user-images.githubusercontent.com/59382061/128644092-ccfae8e0-cc22-447e-89a1-c840ab889574.png)
thank you

[2021-08-08 19:55] Davinel17 commented on #124
i also put in the config to be in the top right  and it still at the top left

[2021-08-16 07:22] chrissainty commented on #124
It looks like the styling hasn't been loaded. If you can provide some code or a working repro of the issue it would make life a lot easier to diagnose the problem.

[2021-08-24 17:13] Jakeharlan73 opened #129 "css not found in wasm 5.0"
Using Blazor .NET 5.0 and app is not finding the _content folder.  I've seen this issue raised before, but no instruction on how to resolve.  https://github.com/Blazored/Toast/issues/39

The samples you provide work, and the only difference I can see is I am using .NET 5.0.
Is this a known limitation?  If so, do you have a workaround or do you have plans to fully support .NET 5.0?

[2021-08-24 17:16] chrissainty commented on #129
Hi Jake,

The package works fine on .NET 5. This usually is the result of either a caching issue with the browser or forgetting to reference our stylesheet in your host page.

[2021-08-31 06:54] chrissainty commented on #124
Closing this as no further communication from the author.

[2021-08-31 06:54] #124 closed

[2021-09-07 05:22] behluluysal commented on #129
I have faced with the same problem. It's not about cache. When you use min.css the css is not loading properly. I used unminifed file and everything works like a charm. I hope this will help you @chrissainty

[2021-09-07 11:01] Jakeharlan73 commented on #129
I have not gotten as far a publishing.
I did a cold boot to ensure an IIS service wasn't held over.  I then created both a 2.1 and 5.0 Blazor project and successfully imported the Toast unit.
As a further test of a caching issue I created both a .css and .js file for testing.  I made minor tweaks and restarted the app; The changes take affect every time.    Not sure where/when Blazor is getting tr

[2021-09-08 06:22] chrissainty commented on #129
Yep, we use this package in our platform at work and we use the min version and everything works as expected.

I couldn't quite tell from your reply, is your issue resolved?

[2021-09-08 11:48] Jakeharlan73 commented on #129
Thank you for following-up.
It is resolved in that I have Toast working in a project.  Not resolved in that I don't know exactly what happened between working and not working.  For now I'll chalk it up to user error.

[2021-09-08 11:48] #129 closed

[2021-09-09 22:37] segalxandr opened #132 "Removing the heading tag? onClick param?"
I got 3.1.2 from Nuget.
The props for **ShowCloseButton**, **ShowCloseButton**, **CloseButtonContent** are not available in **BlazoredToasts** component.
Also not available is **onClick** in the **IToastService** **ShowInfo**.
Most importantly I am _unable to get rid of the heading_ inside the toast by passing an empty string or null - still get a heading tag e.g. "INFO", "WARNING". **_How can I m

[2021-09-12 09:21] chrissainty commented on #132
Hi @segalxandr,

Could you provide a minimal repro with the issues you've highlighted? That way we can have a look into it and see what's up.

[2021-09-15 10:31] HmmRfa opened #133 "[Bug] Long URL overflows"
**Describe the bug**
When displaying a long URL in the toast the text overflows the box
![without_text_wrap](https://user-images.githubusercontent.com/10084907/133417162-db45aacb-aab8-4fba-86ae-5a315646b5a5.PNG)

**Reproduce**
Show a toast with long URL (e.g. https://github.com/Blazored/Toast/issues/with/some/really/really_long_url_that_is_really_long)

**Expected behavior**
The URL should be brok

[2021-09-16 23:01] segalxandr commented on #132
Hi @chrissainty !
Thanks for responding - [https://i.imgur.com/jPK9ajK.png](url) - this shows ShowClosButton prop not being available for me. The same is the issue with the CloseButtonContent - without those properties everything is fine. Again the version I have is 3.1.2.

The header always shows - either the custom text if you supply it or caps for whatever the toast's type is, e.g. INFO, WARNIN

[2021-09-17 08:09] chrissainty commented on #133
Thanks for reporting this @HmmRfa. I think you're suggested fix should sort this out. Happy to take a PR if you want to submit one.

[2021-09-17 08:45] chrissainty commented on #132
Hi @segalxandr I think something when wrong with out CI pipeline and the version of the package on NuGet isn't the code shown in the 3.1.2 release on GitHub. This is why you're not seeing the newer features. I'll get this sorted as soon as possible,

[2021-09-23 14:36] endstreet commented on #28
Why not just go above bootstrap reservations:

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

Most people will be happy...

[2021-09-30 08:58] Liero commented on #97
Hi @chrissainty,
is there any progress on this?

I'm sure you are quite busy, so let me know if you need help.

I need customizable timeout per toast instance. Is it realistic, it will be released this year? Otherwise I will need to fork the repo.

[2021-10-01 13:41] chrissainty commented on #28
We could but there are other CSS framework that have different z-index values. I'm happy to take a PR.

[2021-10-01 13:46] chrissainty commented on #97
I'm just in the last stages with my book and I'm just getting it finalised for the publishers. Once that is done, I'll have some time back again and I can start getting some of these issues sorted. If you can just bare with me a little longer.

[2021-10-08 11:10] #133 closed

[2021-10-08 13:07] #132 closed

[2021-10-08 13:09] chrissainty commented on #123
Resolved with #126

[2021-10-08 13:31] chrissainty commented on #78
Resolved with #126

[2021-10-08 13:57] #107 closed

[2021-10-08 14:01] #110 closed, assigned to nobody

[2021-10-08 14:23] chrissainty commented on #81
I believe this issue is now resulted with the new custom modal support added by #126

[2021-10-08 14:50] #99 closed

[2021-10-08 15:01] #37 closed

[2021-10-08 16:20] #103 closed

[2021-10-08 19:44] chrissainty opened #139 "Need to add meta data to test extension csproj"

[2021-10-16 10:38] schnickalodeon opened #141 "[Bug] Umlauts (ä, ö, ü) are not supported"
# Description
I am developing an **blazor wasm** application in German. Thereby I noticed that umlauts (ä, ö, ü) are currently not supported.
The other parts of the application display them correctly (compare screenshots).

# Potential Fix
 Maybe the plugin or the font does not support UTF-8.

# Screenshot
**How it looks like**
![image](https://user-images.githubusercontent.com/45515005/137584110-

[2021-10-23 03:16] gparissis opened #146 "[Feature Request] Define size of toast"
**Is your feature request related to a problem? Please describe.**
No, it is not related to a problem.

**Describe the solution you'd like**
I have read issue #74 and I would like to provide my input as a new user. I believe that the component should provide different sizes. As it is currently the toast caption, is larger than the header of my page.
Yes, I do understand the argument that what is l

[2021-10-28 07:44] philvessey opened #147 "[Question] Alter position of loading indicator?"
Hi - is it possible to alter the position of the loading indicator - its not centred vertically and id like to change that if possible.

<img width="53" alt="image" src="https://user-images.githubusercontent.com/814882/139209782-ab6a37a7-c367-41f1-a7ac-e237bd2f0ba0.png">

[2021-10-28 07:44] #147 closed, assigned to nobody

[2021-10-29 12:36] avisra opened #148 "[Feature Request] Ability to pause timeout when actively hovering/mousing over the toast"
**Is your feature request related to a problem? Please describe.**
Let's assume the toast message requires taking action - like clicking a button, or copying some text out from it. Depending on the speed of the user, it is a common complaint that the toast closes before they can complete the action.

**Describe the solution you'd like**
Similar to the react-toastify library, I recommend we add a "

[2021-11-20 05:04] sixpeteunder opened #149 "[Feature Request] OnTimeout callback for toasts"
**Is your feature request related to a problem? Please describe.**
I'm trying to show the user a time-constrained action they can take. I'm trying to use Blazored.Toast for this by making use of the timeout and onclick features. However, I'd like to be able to hook into the timeout process in order to perform a different action if the toast times out without the user clicking on it.

**Describe th

[2021-11-20 05:50] ndambuki-j commented on #149
I'd love to have this feature

[2021-11-25 15:54] silazzz opened #150 "[Question] how to close the Toast in the custom component toast"
Hi,
My question is how cam i Access the close Function in a custom Toast?

I can Only pass the renderfragment.

thank you

Solution:
The Toast pass the toast object as CascadeValue so you can get the toast object :
In your custom component:
Das [CascadingParamter] private BlazoredToaast Toast {get; set;}

and call Toast.Close()

[2021-11-26 08:24] #150 closed

[2021-11-26 08:24] silazzz commented on #150
Solution:
The Toast pass the toast object as CascadeValue so you can get the toast object :
In your custom component:
Das [CascadingParamter] private BlazoredToaast Toast {get; set;}

and call Toast.Close()

[2021-12-04 19:04] T-Alkathiri opened #151 "Wrong progress bar position with RTL direction"
Thank you very much for the Blazor Toast Tool
I got this rendered when i use RTL direction the problem is with the progress bar postion.
![BlazoredToast](https://user-images.githubusercontent.com/43073888/144721227-4a5a9e38-92bf-4d44-ad68-416ed7577176.JPG)

[2021-12-05 01:13] hellfirehd commented on #148
In addition to this, it would be great if the toast would immediately fade out upon mouse out.

[2021-12-07 18:04] aterbo commented on #146
I do think some built in size options would be convenient but not strictly necessary as well; I just added Toasts to my project last night, and first thing I had to do was go through the source code to figure out how to resize them. I eventually put in a custom `.blazored-toast{ width:15rem; }` class, and it did the trick in my case.

Looking at the discussion in #74 I understand where you're comi

[2021-12-08 23:03] dirething opened #152 "[Question] is there something like a global Toast.OnShowComponent event?"
I had kind of taken a guess that if I went into the mainlayout where I have:

`<BlazoredToasts Position="ToastPosition.BottomRight" MaxToastCount="3" Timeout="10" IconType="IconType.FontAwesome" SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" />`

and added something like the following to the code behind:

[code]

that the Toast_OnShowComponent would get called by any toast on

[2021-12-09 11:56] LaurenceFrost commented on #96
Just to add some weight to this, I too would find it very useful to be able to specify the timeout at the point of calling a Toast display method. It's a lovely little library, and per-call config would make it even better :)

[2021-12-10 19:51] chrissainty commented on #146
Wouldn't the new [custom toast](https://github.com/Blazored/Toast#custom-component) option cover this scenario?

[2021-12-10 19:51] chrissainty commented on #74
@Delpire We have added a [custom toast](https://github.com/Blazored/Toast#custom-component) option now that might be of interest to you

[2021-12-10 19:53] chrissainty commented on #96
The new [custom toast](https://github.com/Blazored/Toast#custom-component) option allows the timeout to be specified on a per toas basis.

[2021-12-10 22:27] aterbo commented on #146
@chrissainty  Not necessarily. I see two drawbacks. The first is simple convenience. Most of my toasts are a string message ("Save success", "error", "data added", etc.). Building a new component for each to pass in each case is unwieldy. Building one component with a string parameter and passing a different string is essentially recreating the normal default behavior of the library.

The more lim

[2021-12-13 11:27] LaurenceFrost commented on #96
Thank you - that worked a treat - I ended up writing an ICustomToastService as follows to encapsulate all of the param logic:

[code]

Then I simply injected that into the components instead. Then calling it is simply as follows:

`CustomToastService.Show("This is a warning messahe with a 10 second timeout", ToastLevel.Warning, 10);`

You have allowed the service to be integrated and configured re

[2021-12-13 11:49] chrissainty commented on #96
Thanks, @LaurenceFrost. Glad you got it all working 🙂

[2022-01-03 07:34] Liero commented on #149
What about when user clicks the close button, or the toast is closed programmatically (not possible right now, but most likely will be in the future)

I suggest `OnClosed` callback and if that's not enough, the callback pararameter can contain a `Source` property, or a OnTimeout callback can be implemented alongside

[2022-01-03 07:49] Liero commented on #148
@hellfirehd: "immediately fade out upon mouse out" - In my own toast notifications library I have a ExtendedTimeout option, which is used toastr as well: https://codeseven.github.io/toastr/demo.html

basically you can configure the delay between mouse out and and fade out.

[2022-01-03 09:24] sixpeteunder commented on #149
@Liero I had not considered those scenarios. Your idea makes much more sense.

[2022-01-09 18:15] FraserElectronics opened #155 "No styling"
I am using MudBlazor and have removed bootstap and ionic css files from my Blazor Web Assembly project.
I have followed the steps for adding Blazored Toast to my app but when the toast appears it has no styling it just looks like:

Error
X
Login Failed

Is my issue that I don't have the correct css files?

Andy

[2022-01-09 20:54] FraserElectronics commented on #155
Never mind, it seemed to start working of its own accord ?!

[2022-01-09 20:54] #155 closed

[2022-01-28 13:55] hastiiFallah opened #156 "[Bug]Blazored Toast css Is Not working for Blazor wasm"
i have downloaded latest version of this package(3.2.2).i followed setting up step by step.i have added services in program.cs and added  tag in MainLayout.razor. i also added css in index.html.but it still dose not work for me.it will be loaded uncorrectly in browser(i use edge).
could you please help me or resolve this bug?thanks

[2022-01-29 06:14] #156 closed

[2022-05-11 15:45] JerseyTechGuy opened #159 "[Feature] Change position of toast when showing toast"
Would love to see the ability to change the position of the toast when showing it.  I know there are times I would like to move it from the lower right to top center to be more prominent.

Perhaps something as simple as this. Otherwise it uses the default set on the BlazoredToasts component Position property

`void ShowToast(ToastLevel level, string message, string heading = "", ToastPosition posi

[2022-05-23 12:16] chrissainty opened #160 "Target .NET 6"
Remove `netstandard2.1` target and replace with `net6.0` target.

[2022-05-23 12:18] chrissainty opened #161 "Move to Tailwind CSS for styling"
Use Tailwind CSS to style the component and remove the hand written styles that currently exist. However, keep the existing class names in order to not break people.

[2022-07-06 11:26] marcusjm commented on #161
Awesome news.

[2022-07-07 20:54] HolisticDeveloper commented on #96
Does this solution still require a non-zero timeout value?

[2022-07-26 14:33] Buriska opened #163 "[Question] Line breaks in Toast message?"
Not sure if I'm just being obtuse but is there a way to use line breaks in the Toast message? Tried NewLine and '/n' with no luck.

Thank you

[2022-07-27 09:48] chrissainty commented on #163
Please check the disucssions section as this question is covered there.

[2022-07-27 09:48] #163 closed

[2022-08-12 23:53] drma-dev opened #165 "[Bug] bottom position when viewed on mobile"
when I set the position to bottomright, for example. on a large screen, its css is like bottom=2rem, but when it has a mobile resolution (chrome emulation on the laptop), it is like bottom=0rem. but for some reason when I test in the browser directly from the mobile, the toast does not appear. I have to force the css so that its bottom is 1=rem, to override the default configuration of the compone

[2022-08-25 16:15] guntiszarinsh opened #166 "[Feature Request] Configurable Toasts Heading"
It will be nice if can configure global headings using ``<BlazoredToasts />`` like icons and CSS classes.
For sample for localization purposes.

[2022-09-16 13:14] ltemimi commented on #94
has this been done I do not want a capital header

[2022-09-16 13:39] ltemimi opened #167 "Capital header is displayed when header is set to null"
I wanted to show a warning without a header by setting the header="" but I still see "WARNING" please help as I expect to see no header at all

Thanks

[2022-09-17 21:36] chrissainty commented on #167
Hi @ltemimi. Unfortunately, headings are always displayed. If no heading is provided the default heading is shown.

The only way to get round this is to use the custom toast option. This is where you specify your own toast component to display. This gives you complete control over the look of your toasts.

You can find an example in the sample sites, as well as in the readme.

[2022-09-17 21:36] #167 closed

[2022-09-18 12:22] #160 closed

[2022-09-19 08:39] #96 closed

[2022-09-19 08:53] chrissainty opened #170 "Remove heading from toasts"
Looking at various feedback and also what other popular toast libraries do, I've decided to remove the heading from the default toasts. This will allow a more modern, cleaner, UI design to be implemented as well.

If developers want to have a heading then the custom toast option can be used.

[2022-09-19 08:56] chrissainty commented on #166
Closing as headings are being removed in the next version (see #170).

Icons can already be configured on the `BlazoredToasts` component.

[2022-09-19 08:56] #166 closed

[2022-09-19 08:57] chrissainty commented on #94
Closing as headings are being removed from the default toasts in the next release (see #170)

[2022-09-19 08:57] #94 closed

[2022-09-19 08:59] chrissainty commented on #146
I'm going to close this in favour of #170. This issue will introduce a new UI design for toasts which is much more compact. Anything outside of this can be configured by developers using the custom component option.

[2022-09-19 08:59] #146 closed

[2022-09-26 11:17] zabronm commented on #71
Hi guys, I had the same issue and this saved my day, thank you.

[2022-10-04 21:32] adamashton commented on #97
I am looking to close a toast automatically once a long running task has completed. It would be great to reference a toast/id a close the specific one via the ToastService.

[2022-11-02 08:55] Flatscha opened #175 "ClearAll() does only clear List but not Queue"
I have a max toastcount of 3 which get displayed for 3 seconds.
If I get more than 3 messages in 3 seconds they get queued which builds up endlessly.
When I call ClearAll() the 3 toasts shown at the moment getting cleared but old messages still getting dequeued.

Please implement a ClearQueue() - method to fix this problem

Thanks in advance!

[2022-11-02 19:49] chrissainty commented on #175
Hi @Flatscha, this looks like a good suggestion. I agree that adding it as an additional method is the best approach. Are you willing to create a PR for this?

[2022-11-03 15:32] Flatscha commented on #175
Hi @chrissainty, sure!
Should ClearAll stay the same or should it be modified and clear the list and the queue?

[2022-11-03 21:12] chrissainty commented on #175
I'd prefer not to change `ClearAll` as that would be a breaking change. I think we should just add a new method to clear the queue. I think any interesting design question is if the new message should just clear the queue and not active toasts, as that's already covered by the existing method. Developers can then call both if they want to remove everything.

Do you have any thoughts?

[2022-11-08 08:07] Flatscha commented on #175
Hey @chrissainty,
could you please review my changes?
Thanks.

[2022-11-08 16:54] chrissainty commented on #175
Resolved by #176

[2022-11-08 16:54] #175 closed

[2022-11-12 14:29] chrissainty opened #179 "[Maintenance] Target .NET 7 and remove .NET 5"
Update targets to .NET 7 and remove .NET 5 support.